
	    h1{
		color:black;
		text-align:center;
		margin-bottom: 100px;	    
	       }
	
	       }	

	p
{
    width: 350px;
    border: 20px solid red;
}


footer{

	display:block;
	font-size: 20px;
	text-align:center;
}

.image{

margin-right:150px;

}
 img{
	    display:inline;    
	    border:pink solid;
        border-radius: 50px;
	    
	   }


.selecteur{
	margin:auto;
	margin-top:50px;
	margin-bottom:300px;

}

body{
	background-color: white;	
}

.image:hover{
  border:red solid;

}
